:root {
  font-family: Helvetica;
  font-size: 22px;
  --main-bg-color: rgba(0,0,0,0.9);
  --main-txt-color: seashell;
}

body {
  color: var(--main-txt-color, seashell);
  background-color: var(--main-bg-color, black);
  text-align: center;
}

h1,h2,h3,h4 {
  font-weight: bold;
  background-color: var(--main-bg-color, black);
  padding: 10px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}


/* Header & Nav bar */
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  margin: 10px;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}

nav li a {
  color: inherit;
}

/* Sections */

section {
  margin: 40px 0;
}

/* Mission section*/
#mission {
  margin: 0 auto;
  margin-top: 69px;
  height: 700px;
  max-width: 1200px;
  background-image: url("../assets/img-mission-background.jpg");
  background-repeat: no-repeat;
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
