:root {
  font-family: Helvetica;
  font-size: 22px;
  --main-bg-color: black;
  --main-txt-color: seashell;
  --main-opacity: 0.9;
}

body {
  color: var(--main-txt-color, seashell);
  background-color: var(--main-bg-color, black);
  opacity: var(--main-opacity, 0.9);
  text-align: center;
}

h1,h2,h3,h4 {
  font-weight: bold;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}


/* Header & Nav bar */
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  position: fixed;
  background: var(--main-bg-color, black);
  opacity: var(--main-opacity, 0.9);
  top: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  margin: 10px;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}

nav li a {
  color: inherit;
}

/* Flex containers */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.box {
  width: 300px;
  margin: 15px;
  background-color: var(--main-bg-color);
}
.box img {
  margin: auto;
  width: 300px;
  height: 200px;
}

.box h4 {
  padding: 10px;
}

section {
  margin: 2rem auto;
  box-sizing: border-box;
  max-width: 1200px;
}

/* Sections */

#mission {
  margin-top: 69px;
  height: 700px;
  background-image: url("../assets/img-mission-background.jpg");
  background-repeat: no-repeat;
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission h2, #mission h4 {
  background-color: var(--main-bg-color);
  opacity: var(--main-opacity);
}

#featured {
  max-width: 1000px;
}

#locations {
  height: 500px;
  background: url("../assets/img-locations-background.jpg") no-repeat center;
}
