html {
  font-family: Helvetica;
  font-size: 22px;
}

body {
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header & Nav bar */
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 15;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  margin: 10px;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}

nav li a {
  color: inherit;
}

/* Mission */
#mission {
  margin: 0 auto;
  padding-top: 69px;
  height: 700px;
  max-width: 1200px;
  background-image: url("../assets/img-mission-background.jpg");
  background-repeat: no-repeat;
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
